h1{
    text-align: center;
}

.input{
    width:98%;
    display: flex;
    padding:10px;
    height:550px;
    border-radius: 9px;
    background-color: #F5F5F5;
}

.display-left,
.display-right{
    border-radius: 6px;
    background-color: #EEEEEE;
    width:100%;
    height:350px;
    margin:10px 0;
}

.left,
.right{
    flex-basis: 50%;
    padding:5px;
}

.table-left,
.table-right{
    width:100%;
    text-align: center;
}

table td{
    background-color: #BDBDBD;
}

table tr:hover td{
    color:white;
}

.submit-all{
    margin:10px auto;
    width:100px;
    height: 60px;
}

#btn3{
    height:60px;
    width:100px;
}

.statement{
    font-size: 24px;
}

.red1{
    color: red;
}

.green1{
    color: green;
}